
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.php_cs.cache
/.web-server-pid
/tests/config/parameters.yml
/public/
/nbproject/private/
/nbproject/
/src/.php_cs.cache
/.gh-pages/
/docs/yarn.lock
/docs/assets/vendor/tiny-emitter/yarn.lock
/docs/assets/vendor/ekko-lightbox/yarn.lock
/.idea/
/.php-cs-fixer.cache
/.phpunit.result.cache
/tests/public/bundles/
